:root {
    --brown: #574747;
    --beige: #f2edef;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--brown);
}


main {
    background-color: var(--beige);
}

/* 섹션1 */
.sec_first {

    & .swiper-slide {
        position: relative;

        & .swiper_txtBox {
            position: absolute;
            top: 70%;
            right: 10%;
            z-index: 888;
            background-color: rgb(0, 0, 0, 0.5);
            font-size: 40px;
            font-weight: 700;
            color: #fff;
        }
    }
}

.swiper-button-next{
    display: none;
}
.swiper-button-prev{
    display: none;
}


/* 섹션2 */
.travel-box {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 165px 50px;
    position: relative;
}


.travel-box>.img-1 {
    width: 800px;
    height: 713px;

    /* height: 713px; */

}

.travel-box>.img-2 {
    width: 800px;
    height: 713px;
}

.b-line {
    position: relative;
    border: solid 1px #574747;
    /* background-color: aqua; */
    height: 100%;
    width: 100%;

}



.b-line img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 300px;
    height: 413px;
    object-fit: cover;
    transition: all 0.5s linear;
}

.b-line img:hover {
    width: 100%;
    height: 100%;

}


.text {
    writing-mode: vertical-rl;
    /* 세로쓰기 */
    text-orientation: upright;
    /* 세로 배치 */
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    padding: 0px 40px;
    height: 713px;
    color: var(--brown);
}

.line {
    width: 2px;
    /* 세로선일 때 폭 */
    height: 30px;
    /* 세로선 길이 */
    background: #574747;
    /* 선 색상 */
    transition: all 0.8s ease;
    /* 부드럽게 회전 */
    display: block;
}

/* 물결의 뜻은 잘 모르겠음 */
.img-1:hover~.line {
    transform: rotate(90deg);
    transform-origin: center;
}

/* img2도 적용시키려면 js를 써야함 */


.b-line img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 300px;
    height: 413px;
    object-fit: cover;
    transition: all 0.5s linear;
}

.b-line img:hover {
    width: 100%;
    height: 100%;
}

.m-img {
    display: none;
}

.m-img2 {
    display: none;
}



/* 섹션 3 ----------------------------------------------- */
& .sec_third {
    width: 100%;
    height: 100vh;
    padding: 100px 0;

    & .sec_third_art {
        display: flex;

        & .sec_third_left {
            width: 35%;
            display: flex;
            justify-content: end;
            align-items: center;

            & .sec_third_left_box {
                width: 300px;
                height: 270px;
                border-top: 1px solid #8b6348;
                border-bottom: 1px solid var(--brown);
                text-align: center;
                padding: 20px;

                & .sec_third_Hanzi {
                    width: 100%;
                    height: 50%;
                    display: flex;
                    writing-mode: vertical-rl;
                    font-size: 24px;
                    font-weight: 700;
                    color: #8b6348;
                }

                & .sec_third_txt {
                    width: 100%;
                    height: 50%;
                    color: var(--brown);
                }
            }
        }

        & .sec_third_right {
            width: 65%;
            display: flex;

            & .sec_third_img_1 {
                width: 60%;
                display: flex;
                justify-content: end;

                & img {
                    object-fit: cover;
                }
            }

            & .sec_third_img_2 {

                & img {
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}



/* 섹션 4 */
.sec_fourth {
    padding: 100px 0;

    & .sec_fourth_art {
        display: flex;
        align-items: center;

        & .sec_fourth_img {
            width: 60%;
            display: flex;
            justify-content: center;

            & img {
                width: 70%;
            }
        }

        & .sec_fourth_txtBox {

            & h2 {
                font-size: 50px;
                color: var(--brown);

            }

            & p {
                color: var(--brown);
                font-size: 18px;
            }

        }
    }
}





/* 섹션 5 ---------------------------------------- */
.sec_fifth {
    padding: 100px 0;

    & .sec_fifth_art {

        & h2 {
            font-size: 18px;
            color: var(--brown);
            font-weight: 600;
            text-align: center;
        }

        & .themaMap_contain {
            padding: 50px 100px;

            & .themaMap_group {
                display: flex;
                gap: 20px;
                margin-bottom: 20px;

                & .themaMap_img {
                    width: 33.333%;
                    height: 600px;
                    position: relative;
                    cursor: pointer;

                    & img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        filter: brightness(60%) blur(2px);
                        transition: all 0.4s ease-in-out;
                    }

                    & img:hover {
                        filter: brightness(100%) blur(0px);
                    }

                    & p {
                        position: absolute;
                        z-index: 888;
                        color: #fff;
                        left: 50%;
                        top: 50%;
                        transform: translateX(-50%);
                        transform: translatey(-50%);
                        writing-mode: vertical-rl;
                        letter-spacing: 10px;
                    }
                }
            }
        }
    }
}








@media only screen and (max-width: 1024px) {


    /* 섹션1 태블릿 */
    .sec_first {

        & .swiper-slide {

            & .swiper_txtBox {
                font-size: 30px;
            }
        }
    }


    /* 섹션 2 태블릿*/
    .b-line {
        display: none;
    }

    .m-img {
        display: block;
        width: 80%;
        height: 100%;
        overflow: hidden;

    }

    .m-img2 {
        display: block;
        width: 80%;
        height: 100%;
        overflow: hidden;

    }

    .m-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .m-img2 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }


    /* 섹션 3 태블릿 ----------------------------------------------- */
    & .sec_third {

        & .sec_third_art {
            gap: 40px;

            & .sec_third_left {
                width: 45%;

                & .sec_third_left_box {
                    border-top: 0;
                    border-bottom: 0;

                    & .sec_third_Hanzi {
                        align-items: center;
                        justify-content: center;
                    }
                }
            }

            & .sec_third_right {
                width: 60%;

                & .sec_third_img_1 {

                    & img {
                        width: 100%;
                    }
                }
            }
        }
    }


    /* 섹션 4 태블릿 --------------------*/
    .sec_fourth {

        & .sec_fourth_art {
            display: block;

            & .sec_fourth_img {
                width: 100%;
            }

            & .sec_fourth_txtBox {
                width: 55%;
                margin: 20px  auto;

                & h2 {
                  
                    margin-bottom: 20px;
                }
            }
        }
    }


    /* 섹션 5 태블릿 ---------------------------------------- */
    .themaMap_img_tablet {
        display: none;
    }

    .sec_fifth {

        & .sec_fifth_art {

            & .themaMap_contain {
                padding: 50px 50px;

                & .themaMap_group {

                    & .themaMap_img {
                        width: 50%;
                    }
                }
            }
        }
    }


}






/* 반응형-모바일 ------------------------------------------------------------------------- */
@media only screen and (max-width: 720px) {


    /* 섹션1 모바일 */
    .sec_first {

        & .swiper-slide {

            & .swiper_txtBox {
                top: 50%;
                right: 50%;
                transform: translateX(50%);
                font-size: 25px;
                width: 70%;
                text-align: center;


            }
        }
    }


    /* 섹션 2 모바일 */
    .travel-box {
        padding: 165px 0;
    }

    .m-img {
        width: 100%;


    }

    .m-img2 {
        width: 100%;

    }


    /* 섹션 3 모바일 ----------------------------------------------- */
    & .sec_third {


        & .sec_third_art {
            gap: 40px;
            display: block;

            & .sec_third_left {
                margin: 0 auto;
                width: 45%;

                & .sec_third_left_box {
                    border-top: 0;
                    border-bottom: 0;
                    height: 270px;
                }
            }

            & .sec_third_right {
                margin: 0 auto;
                width: 100%;

                & .sec_third_img_1 {

                    & img {
                        width: 80%;
                    }
                }

                & .sec_third_img_2 {

                    & img {
                        width: 100%;
                    }
                }
            }
        }
    }


    /* 섹션 4 태블릿 --------------------*/
    .sec_fourth {
        padding-top: 300px;

    }




    /* 섹션 5 모바일 */
    .sec_fifth {

        & .sec_fifth_art {

            & .themaMap_contain {
                padding: 50px 0;

                & .themaMap_group {

                    & .themaMap_img {
                        width: 50%;
                    }
                }
            }
        }
    }



}